
.vs
.git

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# mkdocs documentation
/site
/rcs
/test
/EVAPOTRAN/calc.html
/EVAPOTRAN/script00.js
/EVAPOTRAN/style00.css
/EVAPOTRAN/test.html